navbar{
    height: 5rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;

}
.f-info-links a:hover{
    color: #222222;
    text-decoration: underline;

}


.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    
}
.f-info-social{
    width: 100%;
    font-size: 1.5rem;
}
.f-info-links{
    width: 100%;
}
